[Unit]
Description=ARL Worker GitHub Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/ARL
ExecStart=/usr/local/bin/celery -A app.celerytask.celery worker -l info -Q arlgithub -n arlgithub -c 2 -O fair -f arl_worker.log

[Install]
WantedBy=multi-user.target

